<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hand Gesture Recognition Project</title>
        <script src="/static/script.js"></script>
    </head>

    <style>
        body{
            background-color: #f2f2f2;
        }
 
        img{
            align-content: center;
            width: 440px;
            height: 280px;
        }
 
        button{
            width: auto;
            height: 40px;
            text-align: center;
            background-color: #1b6d85;
            color: #ffffff;
            font-size: 30px;
            margin-top: 20px;
        }
    </style>
 

    <body>
        <!-- List of uploaded documents -->
        <h1 align="center" style="color: #993333; font-family:verdana"> Препознавање на знаци од знаковен јазик </h1>

        <p align="center" style="font-family: verdana"> Ви благодариме на интересот да допринесете за креирање <br> на подобра датабаза од знаци на македонски знаковен јазик. </p>

        <p align="center" style="font-family: verdana"> За да прикачите слика, потребно е да кликнете на копчето <i> Choose file. </i> </p>
        <p align="center" style="font-family: verdana"> По одбирање на сликата, кликнете на <i> Прикачи. </i> </p>


    <!--     <p style="font-family:verdana"> List of uploaded images: </p>

        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %} -->

        <!-- Upload form. Note enctype attribute! -->
        <div align="center">
            <form  id="form" action="{% url "list" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <br>

                <!-- <p style="font-family: verdana; font-size: 12px">{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p> -->

                <p onchange="previewFile()">
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>

                <img id="image" src="" width="240" hidden="true"></img>

                {% if messages %}
                   {% for message in messages %}
                        <p> {{ message }} </p>
               
                    {% endfor %}
             
                {% endif %}
                
                <p><input type="submit" value="Прикачи"/></p>
            </form>
        </div>

    </body>
</html>
